.customDiv {
  object-fit: contain;
  max-width: 280px;
}
.Login {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 2px;
  min-width: 320px;
}
.containerLogin {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.imgCard {
  height: 200px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .imgCard {
    height: 150px;
    display: flex;
    margin: 0 auto;
  }
}
